/*edição do laura*/

body{
margin:0px;
}

label {
    display: block;
    margin-top: 10px;
}

.botao1 {
  background-color: rgb(16, 1, 98);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
 box-shadow:0px 4px 10px rgb(250, 250, 211);
  }


.oii{
 color: rgb(255, 255, 255);
background:rgb(0, 2, 101);
padding:30px;
width:350px;
border-radius:10px;
box-shadow:0px 4px 10px rgb(17, 1, 103);
 }

 .cabecaralho{

display:flex;
align-items:center;
justify-content:space-between;
background:#b0b1b3;
padding:10px 20px;
color:rgb(255, 255, 255);

}

.junto{
color:#ffffff;
font-size: 36px;
}



/*edição do antonio*/




body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    background:#eaeaea;
}

header{
    background: rgb(160, 160, 160);
    color:rgb(255, 255, 255);
    padding:20px;
    text-align:center;
}

.bloco{
    width:80%;
    margin:auto;
    padding:20px;
}

.cardes{
    background:rgb(27, 0, 122);
    padding:20px;
    margin:15px 0;
    border-radius:8px;
    box-shadow:0 2px 5px #f2fdc6;
}

h2{
    color: rgb(255, 255, 255);
}

.etapas{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
}

.etapa{
    flex:1;
    min-width:200px;
    background:#d1d1d1;
    padding:15px;
    border-radius:6px;
}

footer{
    background: rgb(151, 150, 150);
    color:white;
    text-align:center;
    padding:10px;
    margin-top:20px;
}


/*edição gustavo*/

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.topo{
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 12px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    padding: 20px;
    background-color: #002470;
}

.container-centro {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.inicio{
    color: white;
    background-color: rgb(2, 5, 118);
    font-size: 35px;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
}


.login{
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color:rgb(211, 210, 210);
    font-size: 20px;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}

.registro{
    color: black;
    text-decoration: none;
    background-color:rgb(211, 208, 208) ;
    font-size: 20px;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}
.macaco{
    color: rgb(245, 245, 245);
}
.vaca{
    color: #ffffff;
}
.sapo{
    color: #fffdfd;
}
/*edição Miguel*/


    body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #bdbdbd;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.formulario h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    margin-top: 10px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
    outline: none;
}

input:focus {
    border-color: #a3a3a3;
}

.botao {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: #bababa;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.botao {
    background: #bbbbbb;
    display: block;
    padding: 12px;
    margin-top: 10px; 
    border: none;
    cursor: pointer;
}

.botao:hover {
    background-color: #8a91f1;
}


/*edição matheus g*/


.login-container {
    background-color: rgb(0, 5, 96);
 
    
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(255, 255, 255);
}


.input-group {
    margin-bottom: 1rem;
    color: #ffffff;
}


.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #fffdfd;
}


.input-group input {
    width: 50%;
    padding: 0.5rem;
    box-sizing: border-box;
    color: #ffffff;
}